<!DOCTYPE html>
<html lang="en">
  <head>

    {# This is the base template for the site–other templates extend this one #}

    <meta charset="utf-8"/>
    <link rel="icon" href="/img/favicon.png"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@100;200;300;400;500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Your new 11ty blog"/>
    <link rel="stylesheet" href="/global.css"/>

    {% seo "" %}
  </head>
  <body>
 
    
    
      <div class="md:container md:mx-auto">
      
  <div class="flex">
  <div class="w-128 ...">
    <a href="/"><img src="/img/single-line-logo-transparent.png"></a>
     
  </div>
  <div class="flex-1 ...">
     <ul class="flex">

  <li class="mr-6">
           <a class="text-blue-500 hover:text-blue-800"  href="/posts">Posts</a>
  </li>
  <li class="mr-6">
         <a class="text-blue-500 hover:text-blue-800"  href="/about">About</a>
  </li>
</ul>
  
  </div>
        </div>

   </div>
<!--     TODO - figure out how to set font sizes across entire site   -->
   
    <div class="md:container md:mx-auto">
      

      {# Page or post content will appear here #}

      {{ content | safe }}

    </div>
   

 
  </body>
</html>
